* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 62.5%;
}

.nav-item{
    font-size: 3rem;
    text-align: left;
}

header{
    color: #ffffff;
    text-align: center;    
}
h1{
    font-size: 4rem;
}
ul{
    font-size: 4rem;
    text-align: end;
}
body{
    background-color: #000000;
    font-family: 'Raleway', sans-serif;
}

.img-iguana {
    background-image: url(../img/bg-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70rem;
}

.desc-section{
    padding: 2rem;
    width: 80%;
    margin: 0 auto;

}
.centrado{
  display: inline-block;
  width: 40%;
  vertical-align: middle;
  padding: 1rem;
}

.centrado p{
    color: #ffffff;
    font-size: 1.5rem;
    text-align: justify;
    
}

.centrado img{
    width: 3rem;
}

.caract{
    background-color: #1E1A13;
    width: 100%;
    padding: 5rem;
    margin: 0 auto;
    text-align: center;

}

.caract h2{
    font-size: 3rem;
    color: #ffffff;
    vertical-align: middle;
    padding: 2rem;
}

.caract i{
    font-size: 4rem;
}

.caract p{
    font-size: 1rem;
}

.caract-sect{
  display: inline-block;
  width: 33%;  
  color: #ffffff;
}

.article {
    display: inline-block;
    width: 100%;
    padding: 1.5rem;
    margin: auto;
}

.art-sect img{
    width: 30%;
    height: 300px;
    float: left;
    padding: 1rem;

    
}

footer {
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
    height: 30px;
    padding-top: 3rem;
    background-color: #1E1A13;    
}

a {
    color:#ffffff;
    text-decoration: none;
}