* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto',sans-serif;
}

nav{
    background-color:#28a745;
}

.catalogo{
    padding: 4rem;
    width: 100%;
    margin: 0 auto;
}

.card {
    width: 100%;
    padding: 2rem;
}

.form{
    text-align: center;
    padding: 1rem;
}
